.ember-view{
float: left;
font-weight: normal;
padding: 0 0 5px;
margin: 0 20px;
color: #555;
text-align: center;
position: relative;
bottom: -1px;
}

.ember-view-active{
float: left;
border-bottom: 3px solid #659800;
color: #363636;
font-weight: bold;
padding: 0 0 5px;
margin: 0 20px;
text-align: center;
position: relative;
}

#dselect{
float: left;
color: #363636;

padding: 0 0 5px;
margin: 0 20px;
color: #555;
text-align: center;
position: relative;
bottom: -1px;
}

#period_d{
float: left;
margin: -5 5px;
}


a{
text-decoration: none;
}

