<html>
<head>
<title>
PO Dashboard
</title>

</head>
<body>

<div style="z-index:1001;">
<div style="float:left;"><a href=""><img src="/static/images/logo.gif" /></a></div> 
<div style="z-index:1002;position:relative;left:30px;top:-3px;"><a href="wm" target="_blank" ><img src="/static/wm.jpg" height="33" width="116" /></a></div>
</div>

<div style="z-index:1000;width:1024;height:673;font-size:50px;background:url(/static/world.jpg);position:relative;margin-left:120px;margin-top:-50px;">
<div style="padding:350px 50px 50px 780px;position:absolute"><a href="cn" target="_blank"><img src="/static/china.jpg" height="47" width="80"/></a></div>
<div style="padding:280px 50px 50px 500px;position:absolute"><a href="eu" target="_blank"><img src="/static/eu.jpg" height="47" width="80"/></a></div>
<div style="padding:310px 50px 50px 150px;position:absolute"><a href="ga" target="_blank"><img src="/static/ga.jpg" height="47" width="80"/></a></div>
</div>

</body>

</html>